/* General styling for the navbar */
.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  display: inline;
}

.navbar button {
  background-color: #f4f4f4;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #ddd;
}

.navbar button:focus {
  outline: none;
}
